*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.calc{
    border-radius: 5px;
    background-color: #666;
    width: 400px;
    margin: 0 auto;
    padding: 5px;
}

.calc-display{
    height: 125px;
    width: 380px;
    color: #fff;
    font-size: 6rem;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 1px;
    text-align: right;
}

button{
    width: 95px;
    height: 70px;
    font-size: 2rem;
    border: none;
    margin: 1px 1px;
}
.key-dbl{
    width: 192px;
}
.calc-numbers .row:first-child button{
    background-color: #888;
}

.calc-keyboard{
    display: flex;
    flex-direction: row;

}
.calc-numbers .row{
    display: flex;
    flex-direction: row;
}

.calc-operators button{
    background-color: orange;
}