body{
    margin: 0;
    background-color: #16181d;
}

a{
    text-decoration: none;
    color: black;
}

#principal{
    margin: 0 auto;
    width: 50%;
    height: 550px;
    background-color: #42464c;
}