body{
    margin: 0;
    background-color: #16181d;
}

a{
    text-decoration: none;
    color: black;
}
h2{
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    font-size: 40px;
}

#principal{
    margin: 0 auto;
    text-align: center;
    width: 50%;
    height: 550px;
    background-color: #42464c;
}
<<<<<<< HEAD
.bt{
  padding-left: 20px;
=======
#bt{
    margin-left: 200px;
    height: 25px;

>>>>>>> 3bd16ee28c5a2b6fb6fe3230597cd2911c9c18cb
}
