body{
    margin: 0;
    background-color: #16181d;
}

a{
    text-decoration: none;
    color: black;
}
h2{
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    font-size: 40px;
}

#principal{
    margin: 0 auto;
    text-align: center;
    width: 50%;
    height: 550px;
    background-color: #42464c;
}
.bt{
  padding-left: 20px;
}
